*{
    padding: 0px;
    font-family: 'Montserrat UltraLight';
}
.margininnavbar{
  font-family: 'Montserrat UltraLight';
  margin-left: 120px !important;
  --bs-gutter-x: 0rem;
}
.dropdown-menu{
  visibility: visible;
}
.navbarheading{
    font-weight: 400;
    color: #494c64;
    line-height: 25px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Montserrat';
    transition: color 0.3s,background-color 0.3s;
}
.allheadingscontents{
  color: #3c3950;
  line-height: 53px;
  font-size: 36px;
  font-weight: 700;
  font-family: 'Montserrat';
  text-transform: uppercase;
  margin: 1.2em 0;
  letter-spacing: .05em;
}
.fontsizeofDriven{
  font-family: 'Montserrat UltraLight';
   font-size: 55px;
    font-weight: 700;
}
.sectionTwoPara{
  font-family: 'Montserrat UltraLight';
  font-size: larger;
   font-weight: 400;
 
}
.nav-item :hover{
  font-family: 'Montserrat UltraLight';
  color: rgb(71, 71, 223) !important;
}
#Backgorundimages{
  font-family: 'Montserrat UltraLight';
  padding: 200px 0px 200px 0px;
    background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(./Images/OIP.jpeg);
}
.color12columb{
  font-family: 'Montserrat UltraLight';
    background-color: #fff;
}
.loadmoreblogbutton{
  font-family: 'Montserrat UltraLight';
  color: #fff !important;
}
.ourservices{
  font-family: 'Montserrat UltraLight';
    font-size: 52px;
    color: #3c3950;
}
.ourworkproduct{
    background-image: url(./Images/our-work-process-back.jpg);

}
.workprogessmargin{
    --bs-gutter-x: 0rem;
}
.colorCode{
    color: #fff;
    line-height: 25px;
    font-weight: 400;
    font-family: 'Source Sans Pro';
    
}
*{
  
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .titleSectionTwo
  {
    font-family: 'Montserrat UltraLight';
    margin:0px;
    font-size:1.4em;
    font-weight:700;
  }
  .titleSectionThree
  {
    font-family: 'Montserrat UltraLight';
    font-size:12px;
  }
  .centerd
  {
    font-family: 'Montserrat UltraLight';
    height:100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .property-card
  {
    font-family: 'Montserrat UltraLight';
    height:18em;
    width: 22em !important;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    position:relative;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    /* border-radius:16px; */
    overflow:hidden;
    /* -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff; */
    /* box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff; */
  }
  .ourServices{
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-size: 50px;
    color: #3c3950;
    font-family: 'Montserrat UltraLight';
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  .section3heading{
    font-size: 24px;
    font-family: 'Montserrat UltraLight';
    color: #4c5867;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
  }
  .section3paragraph{
    font-family: 'Montserrat UltraLight';
    text-align: center;
    color: #4c5867;
    font-weight: 400;
  
  }
  .property-image
  {
    font-family: 'Montserrat UltraLight';
    height:8em;
    width:22em !important;
    padding:1em 2em;
    position:Absolute;
    top:0px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-image:url('https://cdn.photographylife.com/wp-content/uploads/2017/01/What-is-landscape-photography.jpg');
    background-size:cover;
    background-repeat:no-repeat;
  }
  .fontsizeSection3{
    font-size: 16px;
    /* line-height: 38px; */
    font-weight: 400;
    font-family: 'Montserrat UltraLight';
    color: #4c5867;
    text-transform: uppercase;
  }
  .fontSizeDesignFonts {
    font-size: 20px;
    /* line-height: 38px; */
    font-weight: 700;
    font-family: 'Montserrat UltraLight';
  }
  .property-description
  {
    font-family: 'Montserrat UltraLight';
    background-color: #FAFAFC;
    height:12em;
    width: 22em !important;
    position:absolute;
    bottom:0em;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 0.5em 1em;
    text-align:center;
    /* font-size: 22px; */
  }
  .property-card:hover .property-description
  {
    font-family: 'Montserrat UltraLight';
    height:0em;
    padding:0px 1em;
  }
  .property-card:hover .property-image
  {
    font-family: 'Montserrat UltraLight';
    height:18em;
  }
  
  .property-card:hover .property-social-icons
  {
    font-family: 'Montserrat UltraLight';
    background-color:white;
  }
  
  .property-card:hover .property-social-icons:hover
  {
    background-color:blue;
    cursor:pointer;
    font-family: 'Montserrat UltraLight';
  }
  
/* section two end here */
.colorCodeParagraph{
  font-family: 'Montserrat UltraLight';
    color: #5f727f;
    font-size: 16px;
}
.fontsizeforourwork{
  font-family: 'Montserrat UltraLight';
  font-size: 47px;
}
.backroungyellow{
  font-family: 'Montserrat UltraLight';
    background-color: #eeee22;
    /* margin-left: 90px; */
}
.fontsizecallthe{
  font-family: 'Montserrat UltraLight';
    font-size: 48px;
    color: #5f727f;
}
.fontsizecallthe{
  font-family: 'Montserrat UltraLight';
    font-size: 48px;
    /* color: yellow; */
}
.navsecond{
    margin-left: 220px;
    padding: 11px;
    font-family: 'Montserrat UltraLight';
}
.navsecond{
  font-family: 'Montserrat UltraLight';
    color: #3c3950;
    background-color: #ffdf48;
    border-radius: 49px;
    font-size: 18px; 
}

.provideSpacefromtop{
  font-family: 'Montserrat UltraLight';
    padding-top: 103px;
}
.cards3loadmorebutton{
    height: 50px;
    line-height: 50px;
    padding: 0 25px;
    font-size: 19px;
    font-family: 'Montserrat';
    font-weight: 700;
    border-radius: 25px;
    font-size: 16px;
    color: #fff;
    background-color: #3c3950 !important;
}

.loadmoresubmitt{
    /* height: 50px; */
    line-height: 50px;
    padding: 0 25px;
    font-size: 19px;
    font-family: 'Montserrat UltraLight';
    font-weight: 700;
    border-radius: 25px;
    font-size: 16px;
    color: #fff;
    background-color: #3c3950 !important;
}
/* 4 transtions cards start here */
figure {
  font-family: 'Montserrat UltraLight';
    display: grid;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
  }
  figure > * {
    font-family: 'Montserrat UltraLight';
    grid-area: 1/1;
    transition: .4s;
  }
  figure figcaption {
    font-family: 'Montserrat UltraLight';
    display: grid;
    align-items: end;
    font-family: sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    color: #0000;
    padding: .75rem;
    background: var(--c,rgba(0, 0, 0, 0.6));
    clip-path: inset(0 var(--_i,100%) 0 0);
    -webkit-mask:
      linear-gradient(#000 0 0),
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    -webkit-mask-clip: text, padding-box;
    margin: -1px;
  }
  figure:hover figcaption{
    font-family: 'Montserrat UltraLight';
    --_i: 0%;
  }
  figure:hover img {
    font-family: 'Montserrat UltraLight';
    transform: scale(1.2);
  }

/* 4 transtions cards end here */
/* blogs start cards trasnsitions */
articless {
  font-family: 'Montserrat UltraLight';
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }
  
  articless a::after {
    font-family: 'Montserrat UltraLight';
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
  }
  
  /* basic article elements styling */
  articless h2 {
    font-family: 'Montserrat UltraLight';
    margin: 0 0 18px 0;
    /* font-family: "Bebas Neue", cursive; */
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
  }
  
  figure {
    font-family: 'Montserrat UltraLight';
    margin: 0;
    padding: 0;
    /* aspect-ratio: 16 / 9; */
    overflow: hidden;
  }
  
  articless img {
    font-family: 'Montserrat UltraLight';
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
  }
  
  .articless-body {
    font-family: 'Montserrat UltraLight';
    padding: 24px;
  }
  
  articless a {
    font-family: 'Montserrat UltraLight';
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
  }
  
  articless a:focus {
    font-family: 'Montserrat UltraLight';
    outline: 1px dotted #28666e;
  }
  
  articless a .icon {
    font-family: 'Montserrat UltraLight';
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
  }
  
  /* using the has() relational pseudo selector to update our custom properties */
  articless:has(:hover, :focus) {
    font-family: 'Montserrat UltraLight';
    --img-scale: 1.1;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  
 
  
  .articlesss {
    font-family: 'Montserrat UltraLight';
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
  }
/* blogs here cards trasnsitions */
.readmorebutton:hover{
  font-family: 'Montserrat UltraLight';
    color: gray;
    cursor: pointer;
}
.whywechoosebackground{
    background-image: url(./Images/test.png);
}
.colorwhyewechooseus{
  font-family: 'Montserrat UltraLight';
    color: #fff;
    font-size: 4rem;
}
/* blogs cards start here */
.cardsback3groundcolor{
  font-family: 'Montserrat UltraLight';
    /* background-color: #5f727f; */
    line-height: 25px;
    font-weight: 400;
    /* font-family: 'Source Sans Pro'; */
    background-color: #212331;
    padding-top: 80px;
    padding-bottom: 50px;
}
/* } */
/* blogs cards end here */
/* why er choose us avtar images start here */
.personal-image {
  font-family: 'Montserrat UltraLight';
    text-align: center;
  }
  .personal-image input[type="file"] {
    font-family: 'Montserrat UltraLight';
    display: none;
  }
  .personal-figure {
    font-family: 'Montserrat UltraLight';
    position: relative;
    width: 120px;
    height: 120px;
  }
  .personal-avatar {
    font-family: 'Montserrat UltraLight';
    cursor: pointer;
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out .3s;
  }
  .personal-avatar:hover {
    font-family: 'Montserrat UltraLight';
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  }
  .personal-figcaption {
    font-family: 'Montserrat UltraLight';
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: inherit;
    height: inherit;
    border-radius: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all ease-in-out .3s;
  }
  .personal-figcaption:hover {
    font-family: 'Montserrat UltraLight';
    opacity: 1;
    background-color: rgba(0, 0, 0, .5);
  }
  .personal-figcaption > img {
    font-family: 'Montserrat UltraLight';
    margin-top: 32.5px;
    width: 50px;
    height: 50px;
  }
  .whiteColor{
    font-family: 'Montserrat UltraLight';
    color: #fff;
  }
  .graycolor{
    color: #99a9b5;
  }
  .bluebackgroundcolor{
    background-color: #00bcd4;
  }
  .blurColor{
    font-family: 'Montserrat UltraLight';
    color: #00bcd4;
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 14px;
  }
/* why er choose us avtar images end here */

/* form start here  */
.formplaceholdercolors{   
  font-family: 'Montserrat UltraLight';
    border: 1px solid #394050;
    background-color: #181828 !important;
    color: #5f727f;
}
.formblurColor{
    background-color: #00bcd4;
}
/* form end here  */
/* footer start here */
.footercolorformblurColor{
  font-family: 'Montserrat UltraLight';
    background-color: #181828 !important;
    color: white;
}
/* footer end here */

.fontsizefooter{
  font-family: 'Montserrat UltraLight';
    font-size: 20px;
}
.marginindesktopverion {
  font-family: 'Montserrat UltraLight';
  margin-top: 0px !important;
  padding: 59px !important;
}
.buttonradius{
  font-family: 'Montserrat UltraLight';
    border-radius: 49px;
}
.stickytwo{
  font-family: 'Montserrat UltraLight';
    position: fixed;
    bottom: 0px;
}
.ourworkDesktop{
  font-size: 65px;
  font-weight: 700px;
}
.hrfooter{ 
  font-family: 'Montserrat UltraLight';
    border:         none;
    border-left:    1px soli;
    height:         20px;
    width:          1px;       
}
.responsiveformsmessage{
  padding-right: 0px; 
  padding-left: 0px;
}

/* navbra two start here  */
.navbartwopadding{
  padding-right: 28px !important;
    padding-left: 28px !important;
    border-radius: 40px;
    font-family: 'Montserrat UltraLight';
    font-size: 16px !important;
    font-weight: 400 !important;
    color: #3c3950 !important;
    background-color: #99a9b5 !important;
}
.navbartwopadding:hover{
  background-color: gray !important;
  color: #fff !important;
  font-family: 'Montserrat UltraLight';
}
.backgroud{
  font-family: 'Montserrat UltraLight';
  background-color: rgb(242, 193, 17) !important;
}
.marginindesktopverion{
  font-family: 'Montserrat UltraLight';
  margin-top: 96px !important;
    padding: 59px !important;

}

@media screen and (max-width: 768px)  {
   .navbarheading  {
    font-family: 'Montserrat UltraLight';
    padding: 7px;
                  }
  .loadmoresubmitted{
    font-family: 'Montserrat UltraLight';
    /* background-color: #181828; */
    color: white !important;
  }
  .responsiveMargin{
    /* margin-left: 20px !important; */
    padding: 21px;
    font-family: 'Montserrat UltraLight';
  }
  .ourServices{
    font-size: 39px;
  }
  .provideSpacefromtop {
    font-family: 'Montserrat UltraLight';
    padding-top: 0px;
}
.fontsizecallthe {
  font-family: 'Montserrat UltraLight';
  font-size: 27px;
  color: #5f727f;
}
.fontsizeforourwork{
  font-family: 'Montserrat UltraLight';
  font-size: 33px;
}
#Backgorundimages{
  padding: 21px 0px 143px 0px;
  background-repeat: no-repeat;
  background-size: 100% 75%;

}
.loadmoresubmitt{
  /* padding: 10px !important; */
  color: #fff !important;
}
.margininnavbar{
  margin-left: 0px !important;
}
.navbar-toggler{
  padding-right: 157px !important;
  padding-left: 173px !important;
}
.property-card:hover .property-description
{
  height:0em;
  padding:0px 1em;
}
.property-card:hover .property-image
{
  height:18em;
}

.property-card:hover .property-social-icons
{
  background-color:white;
}

.property-card:hover .property-social-icons:hover
{
  background-color:blue;
  cursor:pointer;
}
figure:hover figcaption{
  --_i: 0%;
}
figure:hover img {
  transform: scale(1.2);
}
articless:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.readmorebutton:hover{
  color: gray;
  cursor: pointer;
}
.personal-avatar:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.personal-figcaption:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, .5);
}
.navbartwopadding:hover{
  background-color: gray !important;
  color: #fff !important;
}
.nav-item :hover{
  color: rgb(71, 71, 223) !important;
}
.responsiveformsmessage{
      padding-right: 0px; 
    padding-left: 0px;
}
.backroungyellow {
  font-family: 'Montserrat UltraLight';
  background-color: #eeee22;
  margin-left: 0px;
}
.navbar-expand-lg>.container {
  padding-right: 0px;
  padding-left: 20px;
}
.marginindesktopverion {
  font-family: 'Montserrat UltraLight';
  margin-top: 0px !important;
  padding: 10px !important;
}

 }
 /* ..............................................SEM PAGE START FROM HERE................................ */
 .semheading{
  color: #3c3950;
  line-height: 69px;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 53px;
  letter-spacing: .05em;
  margin: 1.2em 0;
 }
 .semheadingtwo{
  margin: 1.2em 0;
  color: #3c3950;
  line-height: 53px;
  letter-spacing: .05em;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
 }
 .semparagraph{
  color: #5f727f;
  line-height: 25px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Source Sans Pro';
 }
 .semheadingpayclick{
  color: #3c3950;
  line-height: 42px;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
    margin: 1.13em 0;
    letter-spacing: .05em;
 }
 /* ................................SEM PAGE END FROM HERE................................ */

   /* .........................SEO START HERE................................... */
   .headingSEOfirstbackground{
    background-color: #494c64;
   }
   .headingSEOfirst{
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .05em;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 1;
    font-size: 50px;
  
   }
   .semparagraph{
    line-height: 25px;
    font-size: 16px;
    font-weight: 400;
    color: #5f727f;
    font-family: 'Source Sans Pro';
    margin: 0 0 1.1em;
   }
 
   /* .........................SEO END HERE..................................................../